body {
	height: 100vh;
	display: flex;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #2b4970;
	justify-content: center;
	align-items: flex-start;
}

.container {
	background: #fff;
	width: 400px;
	min-height: 813px;
	margin-top: 20px;
}