.stream-container {
	display: flex;
	flex-direction: row;
	height: 70px;
	padding: 1% 5%;
	cursor: pointer;
	text-decoration: none;
}

.stream-container:hover {
	background: #D5DDE7;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 17%;
	background: #fff;
	border-radius: 50%;
	margin: 7.5px;
}

.logo img {
	width: 100%;
	border-radius: 50%;
}

.fa-twitch {
	color: #fff;
}

.desc {
	width: 73%;
	padding-left: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #051b38;
}

.name {
	margin: 0;
	font-size: 1em;
}

.playing {
	margin: 0;
	font-size: .8em;
	font-weight: normal;
}

.icon {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 10%;
}

.fa-check {
	color: green;
}

.fa-times {
	color: red;
}

.offline .name {
	color: rgba(5, 27 ,56 , .8);
}

.offline img {
	filter: grayscale(80%) opacity(80%);
}